$blue: #4284fb;
$otherBlue: #0263B0;
$darkBlue: #132351;
$textColor: #37383c;
$white: #fff;
$contentColor: #6b7c93;
$darkGray: #EEEEEE;
$backgroundColor: #F8F9FC;
$orange: #FFC36C;
$darkOrange: #e47a47;